.flex-container {
    display: flex;
    background-color: lightblue;
    justify-content: center;
}

.item {
    padding: 20px;
    margin: 20px;
    border: solid;
    background-color: blanchedalmond; /* Set background color to `blanchedalmond` */
}

#item {
    background-color: coral; /* ID selector to set background color of Item 2 to `coral` */
}

#item3 {
    background-color: cadetblue; /* ID selector to set background color of Item 3 to `cadetblue` */
}
